
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(54, 48, 80);
  color: black;
}

.App {
  background-color: rgb(54, 48, 80);
  color: black;
}

.main {
  background-color: rgb(230, 230, 230);
}

a {
  color: #4e7bdb;
}

hr {
  border-top: 1px solid black;
}

.jumbotron-fluid {
  background-color: rgb(40, 37, 53);
  color: white;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron a {
  color: lightskyblue;
}

#navbar {
  text-align: center;
  background-color: rgb(54, 48, 80);
  color: white;
}

#navbar a {
  color: lightskyblue;
}

.contents {
  background-color: rgb(230, 230, 230);
  color: rgb(36, 36, 36);
}

.linebreak {
  background-color: rgb(230, 230, 230);
}

#about {
  padding-top: 1.5rem !important;
}

#projects {
  padding-bottom: 1.5rem !important;
}

#projects hr {
  border-top: 0px solid rgba(230, 230, 230, 0);
  display: none;
}

.footer {
  text-align: left;
  background-color: rgb(54, 48, 80);
  color: white;
}

.footer a {
  color: lightskyblue;
}

